.container {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.hexContainer {
    display: block;
    height: fit-content;
    width: 100%;
    transform: translateY(-100px);
}
.billboard {
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
}
.overTitle {
    font-family: bit;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #252D29;
    margin-bottom: 32px;
}
.title {
    font-family: montreal;
    font-style: normal;
    font-weight: 900;
    font-size: 102px;
    line-height: 110px;
    letter-spacing: -1.34px;
    color: #252D29;
    max-width: 900px;
    margin-bottom: 40px;
}

@media screen and (orientation: portrait) {
    .billboard {
        margin-top: 350px;
        margin-left: 0;
        padding-left: 10px;
    }
    .title {
        font-size: 47px;
        line-height: 48px;
    }
    .overTitle {
        font-size: 18px;
        line-height: 22px;
    }
}