.container {
    width: 100%;
    height: fit-content;
    background-color: #272727;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.content {
    position: absolute;
    left: 120px;
    top: 226px;
    z-index: 2;
}
.timeline {
    z-index: 2;
}

@media screen and (orientation: portrait) {
    .content {
        left: 10px;
    }
}