body, html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: bit;
  src: url(./assets/fonts/PPNeueBit-Bold.ttf) format('truetype');
}

@font-face {
  font-family: montreal;
  src: url(./assets/fonts/PPNeueMontreal-Book.ttf) format('truetype');
}

:root {
  --initial-waiting-time: 2s;
  --desktop-padding: 0 100px;
}


@media screen and (orientation: portrait) {
  :root {
    --desktop-padding: 0 20px;
  }
}