:root {
    --hex-offset-bottom: 220px;
    --wait-time: var(--initial-waiting-time);
    --bezier: cubic-bezier(.64,.29,.03,1.44);
}
.container {
    position: relative;
    z-index: 1;
}
.hex {
    width: 288px;
    height: 332px;
    position: absolute;
}

.hex1{
    top: 5px;
    left: 144px;

}
.hex2 {
    top: var(--hex-offset-bottom);
    left: 0;
}
.hex3 {
    top: 220px;
    left: 288px;
    z-index: 2;

}
.hex4 {
    top: 105px;
    left: 432px;
    z-index: 1;
}
.hex3Image {
    width: 288px;
    height: 332px;
    position: relative;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.whiteMoon {
    position: absolute;
    left: -80px;
    top: 150px;
}

.blackMoon {
    position: relative;
    z-index: 2;
    top: 200px;
    left: 50px;
    animation: move-up ease-in-out;
    animation-duration: 2.5s;
    animation-delay: var(--wait-time);
    transform: translateY(60px);
    animation-fill-mode: forwards;
}